body.dark-theme {
    --primary-background: #121212;
    --primary-text: #ffffff;
    --secondary-background: #1e1e1e;
    --accent-color: #bb86fc;
    --hover-color: #3700b3;

    background-color: var(--primary-background);
    color: var(--primary-text);
}